<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="SLAMngMapper">


    <insert id="insertExcel" parameterType="truebon.com.opm.sla.model.SLAMngVO">  
        INSERT INTO TB_REPLAC_OFFDAY
            ( 
                REPLAC_OFFDAY_DATE
              , CHRGR_NO
              , REPLAC_OFFDAY_CNT
              , REPLAC_OFFDAY_RSN_CD
            )
        VALUES 
            ( 
                #{type1}
              , #{type2}
              , #{type3}
              , #{type4}
            )
	</insert>     
</mapper>
   
   
   