<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="ComnDateMapper">

	<resultMap id="ComnDateList" type="truebon.com.dlm.cod.model.ComnDateVO">
		<result property="stdrDate" column="STDR_DATE" />
		<result property="dyweekDstnctCd" column="DYWEEK_DSTNCT_CD" />
		<result property="hdayDstnctCd" column="HDAY_DSTNCT_CD" />
		<result property="hdayNm" column="HDAY_NM" />
	</resultMap>

	<select id="selectComnDate" parameterType="truebon.com.dlm.cod.model.ComnDateVO" resultType="truebon.com.dlm.cod.model.ComnDateVO">
		<![CDATA[
			SELECT  CONCAT(SUBSTR(STDR_DATE,1,4),'-',SUBSTR(STDR_DATE,5,2),'-',SUBSTR(STDR_DATE,7,2)) AS STDR_DATE,
				    DYWEEK_DSTNCT_CD,
				    HDAY_DSTNCT_CD,
					HDAY_NM
			FROM TB_COMN_DATE
			WHERE STDR_DATE = #{stdrDate}
		]]> 
	</select>
	
	<select id="selectComnDateList" parameterType="truebon.com.dlm.cod.model.ComnDateVO" resultMap="ComnDateList">
		<![CDATA[
			SELECT  STDR_DATE,
				    DYWEEK_DSTNCT_CD,
				    HDAY_DSTNCT_CD,
					HDAY_NM
			FROM TB_COMN_DATE
			WHERE 1=1
		]]> 
			<choose>
				<when test='searchKeyword == "" and searchKeyword == ""'> 
					ORDER BY STDR_DATE DESC
				</when>
				<when test='searchKeyword != "" and searchKeyword != ""'> AND
					STDR_DATE LIKE CONCAT (REPLACE(#{searchKeyword},'-',''),'%')
					ORDER BY STDR_DATE ASC
				</when>
				<otherwise></otherwise>
			</choose>
			LIMIT  #{recordCountPerPage} OFFSET #{firstIndex}
	</select>
	
	<select id="selectComnDateListTotCnt" parameterType="truebon.com.dlm.cod.model.ComnDateVO" resultType="int">
		<![CDATA[
			SELECT  COUNT(*) totcnt
			FROM TB_COMN_DATE
			WHERE 1=1
		]]> 
			<choose>
				<when test='searchKeyword == "" and searchKeyword == ""'> 
					ORDER BY STDR_DATE DESC
				</when>
				<when test='searchKeyword != "" and searchKeyword != ""'> AND
					STDR_DATE LIKE CONCAT (REPLACE(#{searchKeyword},'-',''),'%')
					ORDER BY STDR_DATE ASC
				</when>
				<otherwise></otherwise>
			</choose>	
	</select>
	
	<insert id="insertComnDate" parameterType="truebon.com.dlm.cod.model.ComnDate">
		<![CDATA[
			INSERT INTO TB_COMN_DATE
					( STDR_DATE,
					DYWEEK_DSTNCT_CD,
					HDAY_DSTNCT_CD,
					HDAY_NM,
					REGSTR_ID,
					RDTT,
					AMNDR_ID,
					MDTT
					)
			VALUES ( #{stdrDate},
					#{dyweekDstnctCd},
					#{hdayDstnctCd},
					#{hdayNm},
					#{regstrId},
					sysdate(),
					#{regstrId},
					sysdate())
		]]> 
	</insert>
	
	<update id="updateComnDate" parameterType="truebon.com.dlm.cod.model.ComnDate">
		<![CDATA[
            UPDATE  TB_COMN_DATE
            	SET HDAY_DSTNCT_CD = #{hdayDstnctCd},
            		HDAY_NM = #{hdayNm},
            		MDTT = sysdate(),
            		AMNDR_ID = #{amndrId}
            WHERE STDR_DATE = REPLACE(#{stdrDate},'-','') 
         ]]> 
	</update>
	
	<select id="checkComnDate" resultType="int">
        
            SELECT COUNT(1) existDate
                FROM(
	                SELECT
	                STDR_DATE
	                FROM TB_COMN_DATE
                ) A
            WHERE A.STDR_DATE = REPLACE(#{checkDate},'-','')
        
    </select>
	
	<select id="selectHdayCd" parameterType="truebon.com.dlm.cod.model.ComnDateVO" resultType="truebon.com.dlm.cod.model.ComnDateVO"> 
			SELECT
				STDR_DATE
				,HDAY_DSTNCT_CD
			FROM TB_COMN_DATE
			WHERE STDR_DATE LIKE CONCAT (REPLACE(#{selectedDate},'-',''), '%')
	</select>
	
</mapper>